*{
	padding: 0;
	margin: 0;
}
/* style for all elements */
body{
	font-family: arial;
}
/* style for header */
header{
	z-index: 1;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
/* style for ul in header */
.list{
	background: url(../images/ns.png) no-repeat 5px 5px;
	background-size: 75px 75px;
	text-align: right;
	height: 87px; 
}
.list li{
	display: inline-block;
}
.list li a{
	color: white;
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	padding: 35px 25px 35px 25px;
	display: block;
	text-decoration: none;
}
.list li:hover{
	text-decoration: underline;
}
/* style for menu when viewport is grater then 650px*/
.menu{
	display: none;
}
/* style for main-upper-section */
.main-upper-section{
	background:url(../images/background.jpg) no-repeat fixed;
	background-size: 100%;
}
/* style for upper-section */
.upper-section{
	padding: 100px 0;
	background-color: rgba(0,0,150,0.6);
	color: white;
	text-align: center;

}
.upper-section h1{
	padding: 150px 10px 30px 10px;
	text-transform: uppercase;
    font-size: 70px;
}
.upper-section p:first-of-type{
	font-size: 25px;
	padding: 30px;
}
.upper-section p:last-of-type{
	font-size: 15px;
	margin-top: 40px;
	text-transform: uppercase;
}
.upper-section p a{
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
}
.upper-section p a:hover{
	background-color: rgba(255,255,255,0.7);
	color: black;
}
.hidden{
	animation: opps 0.5s;
	opacity: 0;
}
@keyframes opps {
    0%{opacity: 1;}
    100%{opacity: 0;}
}

.visible{
	animation: opp 0.5s;
	opacity: 1;
}
@keyframes opp {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.portfolio-section{
	color: gray;
	background-color: rgba(125,124,125,0.1);
	text-align: center;
	padding: 100px 10px;
}
.portfolio-section h1{
	padding-bottom: 20px;
    font-size: 70px;
    text-transform: uppercase;
}
.portfolio-section p{
	font-size: 20px;
	padding: 10px;
}
.work-section {
	color: white;
	background-color: #016052;
	padding: 100px 10px;
	text-align: center;

}
.work-section h1{
	padding: 20px;
	text-transform: uppercase;
	font-size: 50px;
}
.work-section p{
	font-size: 20px;
	padding
}
.about-section{
	color: gray;
	text-align: center;
	padding: 50px 0;
}
.about-section h1{
	text-transform: uppercase;
	font-size: 50px;
    padding: 20px;
}
.about-section p{
	font-size: 20px;
}
.about-section h2{
	padding: 20px;
}
.key-skills-cont{
	display:none;
}
.key-skills-container{
	display: inline-block;
	border: 4px solid #016052;
}
.key-skills-container li{
	font-size: 20px;
	margin: 10px;
	text-align: left;
	width: 550px;
	list-style-type: none;
}
.status-bar{
	color: white;
	height: 20px;
	width:0;
	display: inline-block;
	background-color: #016052;
	text-indent: -9999px;
}
.key-skills{
	display: inline-block;
	width: 120px;
}
.status-percent{
	float: right;
}
.contact-section{
	padding: 30px 10px;
	text-align: center;
	background: #016052;
    color: white;
}
.contact-section h1{
	text-transform: uppercase;
	padding: 20px;
	font-size: 40px;
}
.contact-section p{
	font-size: 20px;
}
.contact-section p a{
	width: 75px;
	text-transform: uppercase;
	margin: 30px;
	padding: 30px 0 30px 0;
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 15px;
	text-indent: -99999px
}
.twitter{
	background: url(../images/twitter.00_png_srz) no-repeat -13px -12px;
	background-size: 100px 100px;
	border-radius: 60px;
}
.facebook{
	background: url(../images/facebook-icon-preview.png) no-repeat -13px -12px;
	background-size: 100px 100px;
	border-radius: 60px;
}
.instagram{
	background: url(../images/instagram.jpg) no-repeat 0 0;
	background-size: 75px 77px;
	border-radius: 15px;
}
@media only screen and (max-width: 1000px){
    .upper-section{
    	padding: 70px 0 30px;
    }
@media only screen and (max-width: 750px) {
    .main-upper-section,.upper-section{
    	background: black;
    }

    
}
@media only screen and (max-width: 625px) {
	header{
		position:static;
		background: black;
	}
	.upper-section{
    	padding: 40px 0 20px;
    }
    .upper-section h1{
		padding: 20px 10px 20px 10px;
	    font-size: 50px;
    }
    .portfolio-section,.work-section,.about-section{
    	padding: 35px 10px;
    }
    .portfolio-section h1,.work-section h1,.about-section h1{
    	padding: 20px 10px;
		font-size: 50px;
	    
    }
    .portfolio-section p,.work-section p,.about-section p{
    	padding: 20px 10px;
    	font-size: 18px;
    }
    .menu{
		background: url(../images/list.png) black no-repeat 10px 5px;
		background-size: 30px 30px;
    	border: 1px solid white;
    	display: block;
    	color: white;
    	padding: 15px;
		text-indent: -999px;
	}
    .list {
		height:0;
    	text-transform: uppercase;
        background: black;
        text-align: center;
        transition: height 0.5s;
    }
    .list li {
		display: block;
        background-color: white;
        border-top: 1px solid black;
    }
	.list li a{
		color: black;
		padding: 10px;
	}
    .key-skills-container{
		display: none;
	}
	.key-skills-cont{
		display: block;
	}
	.key-skills-cont li{
		list-style-type: none;
		border: 1px solid black;
		padding: 10px;
        margin: 10px auto;
        width: 100px;
	}
    
}